* {
  margin: 0;
  padding: 0; }

.ns .fondoServ h1, .ns .fondoServ h2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 40px; }

/* ================= INDEX ==================== */
.inicioBody {
  display: grid;
  background-image: url(../img/pawel-czerwinski-2PN18U8CKi0-unsplash.jpg);
  background-size: cover;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.2fr 0.8fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "primeraSeccion primeraSeccion primeraSeccion primeraSeccion" "segundaSeccion segundaSeccion segundaSeccion segundaSeccion" "terceraSeccion terceraSeccion terceraSeccion terceraSeccion";
  padding-top: 30px; }
  .inicioBody .primeraSeccion {
    grid-area: primeraSeccion;
    text-align: center;
    padding-top: 30px; }
    .inicioBody .primeraSeccion img {
      height: 700px;
      border: solid 3px white;
      border-radius: 15px; }
      .inicioBody .primeraSeccion img:hover {
        transform: scale(1.04); }
  .inicioBody .segundaSeccion {
    grid-area: segundaSeccion;
    text-align: center;
    padding-bottom: 30px; }
    .inicioBody .segundaSeccion img {
      height: 600px;
      border: solid 3px white;
      border-radius: 15px;
      margin: 20px; }
      .inicioBody .segundaSeccion img:hover {
        transform: scale(1.04); }
  .inicioBody .terceraSeccion {
    grid-area: terceraSeccion;
    padding-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-family: "Zen Loop", cursive; }
    .inicioBody .terceraSeccion div {
      display: inline-block;
      background-color: #ffffff56;
      max-width: 80%;
      text-align: center;
      padding: 5px 30px 30px 30px;
      border: solid 3px white;
      border-radius: 20px; }
    .inicioBody .terceraSeccion h1 {
      padding-bottom: 15px; }

/* ================= Responsive =============  */
@media (max-width: 1024px) {
  .inicioBody {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "primeraSeccion primeraSeccion primeraSeccion " "segundaSeccion segundaSeccion segundaSeccion" "terceraSeccion terceraSeccion terceraSeccion "; }
    .inicioBody .iText {
      font-size: 25px; }
  .inicioBody img {
    width: 70%; }
  .inicioBody .primeraSeccion img {
    width: 90%;
    height: 500px; } }

@media (max-width: 768px) {
  .inicioBody {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "primeraSeccion primeraSeccion primeraSeccion " "segundaSeccion segundaSeccion segundaSeccion" "terceraSeccion terceraSeccion terceraSeccion "; }
    .inicioBody .iText {
      font-size: 25px; }
  .inicioBody img {
    width: 70%; }
  .inicioBody .primeraSeccion img {
    width: 90%;
    height: 400px; } }

@media (max-width: 425px) {
  .inicioBody {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "primeraSeccion primeraSeccion primeraSeccion " "segundaSeccion segundaSeccion segundaSeccion" "terceraSeccion terceraSeccion terceraSeccion "; }
    .inicioBody .iText {
      font-size: 20px; }
  .inicioBody img {
    width: 90%; }
  .inicioBody .primeraSeccion img {
    height: 300px; } }

@media (max-width: 375px) {
  .inicioBody {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "primeraSeccion primeraSeccion primeraSeccion " "segundaSeccion segundaSeccion segundaSeccion" "terceraSeccion terceraSeccion terceraSeccion "; }
    .inicioBody .iText {
      font-size: 20px; }
  .inicioBody img {
    width: 90%; }
  .inicioBody .primeraSeccion img {
    height: 300px; } }

@media (max-width: 320px) {
  .inicioBody {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "primeraSeccion primeraSeccion primeraSeccion " "segundaSeccion segundaSeccion segundaSeccion" "terceraSeccion terceraSeccion terceraSeccion "; }
    .inicioBody .iText {
      font-size: 15px; }
  .inicioBody img {
    width: 90%; }
  .inicioBody .primeraSeccion img {
    height: 300px; } }

/* -=-=-=-=-=-NAV-=--=-=-=-= */
nav {
  background-image: linear-gradient(to top, #f5abdf, white, #f5abdf);
  box-shadow: 0px 10px 30px #ffaaff; }
  nav .navbar-collapse {
    justify-content: flex-end; }
  nav .logo {
    width: 100px;
    margin: 10px; }
    nav .logo:hover {
      transform: scale(1.2); }
  nav ul {
    font-family: "Zen Loop", cursive; }
    nav ul .nav-link {
      color: #53075a;
      font-weight: bold; }
      nav ul .nav-link:hover {
        color: #03e4fd;
        background-image: linear-gradient(to top, #a318c565, #ffffff9c, #bf4fdb6b);
        border-radius: 25px;
        border: solid .5px #4f006e6b; }

@media (min-width: 425px) {
  .navbar-nav {
    align-items: center; } }

@media (min-width: 320px) {
  .navbar-nav {
    align-items: center; } }

/* ============= NUESTROS SERVICIOS ================ */
.ns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "tituloUno tituloUno tituloUno imgUno imgUno" "imgDos imgDos tituloDos tituloDos tituloDos" "tituloTres tituloTres tituloTres imgTres imgTres" "imgCuatro imgCuatro tituloCuatro tituloCuatro tituloCuatro" "tituloCinco tituloCinco tituloCinco imgCinco imgCinco" "imgSeis imgSeis tituloSeis tituloSeis tituloSeis";
  background-image: url(../img/fondoCorazones.jpg);
  background-size: cover;
  justify-items: center;
  align-items: center;
  padding: 60px 0px 60px 0px; }
  .ns .fondoServ {
    background-color: #f0f8ff57;
    border: 2px solid white;
    border-radius: 25px;
    width: 700px;
    padding-bottom: 20px;
    font-family: "Zen Loop", cursive;
    margin: 20px; }
    .ns .fondoServ p {
      text-align: center;
      padding: 20px; }
  .ns img {
    text-align: center;
    height: 250px;
    border-radius: 30px;
    border: solid 3px white; }
    .ns img:hover {
      transform: scale(1.04); }
  .ns .tituloUno {
    grid-area: tituloUno;
    font-size: 20px;
    padding-bottom: 20px; }
  .ns .tituloDos {
    grid-area: tituloDos;
    font-size: 20px; }
  .ns .tituloTres {
    grid-area: tituloTres;
    font-size: 20px; }
  .ns .tituloCuatro {
    grid-area: tituloCuatro;
    font-size: 20px; }
  .ns .tituloCinco {
    grid-area: tituloCinco;
    font-size: 20px; }
  .ns .tituloSeis {
    grid-area: tituloSeis;
    font-size: 20px; }
  .ns .imgUno {
    grid-area: imgUno; }
  .ns .imgDos {
    grid-area: imgDos; }
  .ns .imgTres {
    grid-area: imgTres; }
  .ns .imgCuatro {
    grid-area: imgCuatro; }
  .ns .imgCinco {
    grid-area: imgCinco; }
  .ns .imgSeis {
    grid-area: imgSeis; }

/* ================= Responsive =============  */
/* Laptop L */
@media (max-width: 1440px) {
  .fondoServ {
    margin: 10px; } }

@media (max-width: 1240px) {
  .ns {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "tituloUno tituloUno tituloUno" "imgUno imgUno imgUno" "tituloDos tituloDos tituloDos" "imgDos imgDos imgDos" "tituloTres tituloTres tituloTres" "imgTres imgTres imgTres" "tituloCuatro tituloCuatro tituloCuatro" "imgCuatro imgCuatro imgCuatro" "tituloCinco tituloCinco tituloCinco" "imgCinco imgCinco imgCinco" "tituloSeis tituloSeis tituloSeis" "imgSeis imgSeis imgSeis"; }
    .ns div {
      padding-bottom: 20px; } }

/* Laptop */
@media (max-width: 1024px) {
  .ns {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "tituloUno tituloUno tituloUno" "imgUno imgUno imgUno" "tituloDos tituloDos tituloDos" "imgDos imgDos imgDos" "tituloTres tituloTres tituloTres" "imgTres imgTres imgTres" "tituloCuatro tituloCuatro tituloCuatro" "imgCuatro imgCuatro imgCuatro" "tituloCinco tituloCinco tituloCinco" "imgCinco imgCinco imgCinco" "tituloSeis tituloSeis tituloSeis" "imgSeis imgSeis imgSeis"; }
    .ns div {
      padding-bottom: 20px; } }

/* MOBILE L */
@media (max-width: 425px) {
  .ns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; }
    .ns img {
      max-width: 410px; }
    .ns .fondoServ {
      max-width: 410px;
      text-align: center; } }

/* MOBILE */
@media (max-width: 375px) {
  .ns {
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "tituloUno tituloUno" "imgUno imgUno" "tituloDos tituloDos" "imgDos imgDos" "tituloTres tituloTres" "imgTres imgTres" "tituloCuatro tituloCuatro" "imgCuatro imgCuatro" "tituloCinco tituloCinco" "imgCinco imgCinco" "tituloSeis tituloSeis" "imgSeis imgSeis"; }
    .ns img {
      max-width: 320px; }
    .ns .fondoServ {
      max-width: 340px; } }

/* MOBILE S*/
@media (max-width: 320px) {
  .ns {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tituloUno tituloUno" "imgUno imgUno" "tituloDos tituloDos" "imgDos imgDos" "tituloTres tituloTres" "imgTres imgTres" "tituloCuatro tituloCuatro" "imgCuatro imgCuatro" "tituloCinco tituloCinco" "imgCinco imgCinco" "tituloSeis tituloSeis" "imgSeis imgSeis"; }
    .ns .fondoServ {
      text-align: center;
      max-width: 290px;
      font-size: 20px; } }

/* -=-=-=-=-FOOTER-=-=-=-=-=-=- */
.footer {
  grid-area: footer;
  background-image: linear-gradient(to top, #f2b5f1, #f5dff4, #f4b8f3);
  box-shadow: 0px 0px 30px 20px #ffaaff;
  text-align: center;
  padding: 20px; }
  .footer i {
    color: #700270;
    padding: 10px;
    font-size: 30px; }
  .footer .fa-instagram:hover {
    color: #f07342;
    transform: scale(1.2); }
  .footer .fa-whatsapp:hover {
    color: green;
    transform: scale(1.2); }
  .footer .fa-facebook:hover {
    color: blue;
    transform: scale(1.2); }

/* ================= GALERIA ==================== */
.galeri-container {
  font-family: sans-serif;
  font-size: 3rem;
  height: 100%;
  background-image: url(https://static.vecteezy.com/system/resources/previews/004/122/866/non_2x/watercolor-background-texture-soft-pink-vector.jpg);
  background-size: cover; }

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  padding: 70px 20px 70px 20px;
  grid-auto-flow: dense; }

.galeria div {
  border-radius: 10px;
  border: solid 2px white; }

.grid-galeri {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4aff7;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.grid-galeri:hover {
  filter: opacity(0.9);
  transform: scale(1.04); }

.wide {
  grid-column: span 2; }

.tall {
  grid-row: span 2; }

/* ================= Responsive =============  */
/* Laptop L */
/* Laptop */
/* Tablets */
/* MOBILE L */
/* MOBILE */
/* MOBILE S*/
/* ================= DEPI DEFINITIVA ==================== */
.headerDepi {
  display: flex;
  background-image: url(../img/aesthetic-pink-rose-petal-background.jpg);
  background-size: cover;
  height: 80%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px; }
  .headerDepi .imgDepi {
    padding-left: 300px;
    margin: 10px; }
    .headerDepi .imgDepi img {
      background-color: #ffffff3a;
      border-radius: 30px;
      border: solid 4px #ffffff70; }
  .headerDepi .depiTexto {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 25px;
    background-color: #ffffff1a;
    border-radius: 50px;
    margin: 10px; }
    .headerDepi .depiTexto h1 {
      margin: 20px;
      font-family: monospace;
      font-size: 50px; }
    .headerDepi .depiTexto h2 {
      font-family: "Zen Loop", cursive;
      color: #ad0aad; }
    .headerDepi .depiTexto strong {
      color: #5f035f; }
    .headerDepi .depiTexto p {
      padding: 30px;
      max-width: 600px; }
    .headerDepi .depiTexto .botDepi {
      padding-bottom: 60px; }
      .headerDepi .depiTexto .botDepi a {
        font-size: 30px;
        color: #550855;
        background-color: #f1b7ef;
        border: solid 3px violet;
        padding: 15px;
        border-radius: 20px;
        text-decoration: none;
        font-family: "Zen Loop", cursive; }
        .headerDepi .depiTexto .botDepi a:hover {
          border: solid 3px white;
          color: white;
          background-color: #550855; }

/* ================= Responsive =============  */
/* Laptop L */
@media (max-width: 1440px) {
  .headerDepi {
    justify-content: center; }
    .headerDepi .imgDepi {
      padding: 0px; }
    .headerDepi img {
      height: 100vh; } }

/* Laptop */
@media (max-width: 1024px) {
  .headerDepi {
    justify-content: center; }
    .headerDepi .imgDepi {
      padding: 0px; }
    .headerDepi img {
      height: 70vh; } }

/* Tablets */
@media (max-width: 768px) {
  .headerDepi {
    justify-content: center; }
    .headerDepi .imgDepi {
      padding: 0px; }
    .headerDepi img {
      height: 90vh; } }

/* MOBILE L */
@media (max-width: 425px) {
  .headerDepi {
    justify-content: center; }
    .headerDepi .imgDepi {
      padding: 0px; }
    .headerDepi img {
      height: 400px; } }

/* MOBILE */
@media (max-width: 375px) {
  .headerDepi {
    justify-content: center; }
    .headerDepi .imgDepi {
      padding: 0px; }
    .headerDepi img {
      height: 350px; } }

/* MOBILE S*/
@media (max-width: 320px) {
  .headerDepi {
    justify-content: center; }
    .headerDepi .imgDepi {
      padding: 0px; }
    .headerDepi img {
      height: 350px; }
    .headerDepi .depiTexto p {
      font-size: 20px; }
    .headerDepi .depiTexto .botDepi a {
      font-size: 20px; } }

/* ================= CONTACTO ==================== */
.contacto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "header header header header" "header header header header" "header header header header" "footer footer footer footer"; }

.header {
  grid-area: header;
  background-image: url(../img/v722-aum-27a.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; }
  .header h1 {
    margin: 1rem; }
  .header input {
    margin: 5px; }
  .header p {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 5px; }
  .header section {
    background-color: #f9faf95d;
    border-radius: 30px;
    border: solid 3px #f1b7ef;
    padding: 10px;
    margin: 20px 0px 70px 0px; }
    .header section p {
      font-family: monospace;
      font-size: large; }
  .header .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f0f8ffb2;
    margin: 46px;
    border: solid 5px #f5cbf5;
    border-radius: 20px; }
    .header .formulario h1 {
      font-family: "Zen Loop", cursive; }
    .header .formulario p {
      font-family: "Zen Loop", cursive; }
  .header .input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .header .input input {
      background-color: #eedaeabd;
      border-radius: 15px;
      height: 2rem;
      width: 300px;
      text-align: center; }
  .header .botones input {
    border-radius: 15px;
    height: 1.5rem;
    width: 100px; }
    .header .botones input:hover {
      filter: opacity(0.9);
      transform: scale(1.1); }

/* ================= Responsive =============  */
/* MOBILE L */
@media (max-width: 425px) {
  .header iframe {
    max-width: 400px; } }

/* MOBILE */
@media (max-width: 375px) {
  .header iframe {
    max-width: 290px; } }

/* MOBILE S*/
@media (max-width: 320px) {
  .header iframe {
    max-width: 290px; } }
