/* -=-=-=-=-FOOTER-=-=-=-=-=-=- */

.footer {
    grid-area: footer;
    background-image: linear-gradient(to top, #f2b5f1, rgb(245, 223, 244), #f4b8f3);
    box-shadow: 0px 0px 30px 20px #ffaaff;
    text-align: center;
    padding: 20px;

    i {
        color: #700270;
        padding: 10px;
        font-size: 30px;

        &:hover {
            color: $colorBase;
        }

    }
}