/* -=-=-=-=-FOOTER-=-=-=-=-=-=- */

.footer {
    grid-area: footer;
    background-image: linear-gradient(to top, #f2b5f1, rgb(245, 223, 244), #f4b8f3);
    box-shadow: 0px 15px 20px 14px #ffaaff;
    text-align: center;
    padding: 20px;

    i {
        color: #700270;
        padding: 10px;
        font-size: 30px;

        

    }

    .fa-instagram{
        @include colorIcono (#f07342)
    }

    .fa-whatsapp{
        @include colorIcono (green)

    }

    .fa-facebook{
        @include colorIcono (blue)
    }
}