/* -=-=-=-=-=-NAV-=--=-=-=-= */
nav {
    background-image: linear-gradient(to top, #f5abdf, white, #f5abdf);
    box-shadow: 0px 10px 30px #ffaaff;

    .navbar-collapse {
        justify-content: flex-end
    }

    .logo {
        width: 100px;
        margin: 10px;

        &:hover {
            transform: scale(1.2);
        }
    }

    ul {
        font-family: $tipografiaPrincipal;

        .nav-link {
            color: #53075a;
            font-weight: bold;



            &:hover {
                color: #03e4fd;
                background-image: linear-gradient(to top, #a318c565, #ffffff9c, #bf4fdb6b);
                border-radius: 25px;
                border: solid .5px #4f006e6b;
            }
        }

    }


}

@media (min-width: 425px) {
    .navbar-nav {
        align-items: center
    }
}
@media (min-width: 320px) {
    .navbar-nav {
        align-items: center
    }
}